*{margin: 0px;
}

div{
    height: 50px;
    background-color: red;
}

.container1{
    width: 50vw;
    height: 50vw;

}

.container2{
    width: 50px;
}

.main{
    background-color: green;
    height: 200px;
    padding: 10px;
    width: 200px; 

}